<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>Download Data</h1>
      <form (ngSubmit)="onSubmit()">
        <!-- 2022-07-21-CMF
        <div class="form-group">
          <label for="name">Primary Key</label>
          <input type="text" class="form-control" id="date" type="date" required [(ngModel)]="model.date" name="date">
        </div>
        -->
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
